* {
  margin: 0;
  padding: 0; }

body {
  background-color: #aaaaaa; }

h1 {
  display: none; }

ul.comics {
  list-style-type: none; }
  ul.comics li {
    display: inline-block;
    position: relative;
    margin: 1px;
    zoom: 1; }
  ul.comics li, ul.comics li img {
    width: 200px;
    height: 304px; }
  ul.comics li div.title {
    padding: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 196px;
    height: 4ex;
    font: 16px Arial;
    color: white;
    background-color: black;
    opacity: 0.6;
    overflow: hidden; }
