* { margin: 0; padding: 0; }
body { background-color: #aaa; }
h1 {display:none;}
ul { list-style-type: none; }
li { display: inline-block; position: relative; margin: 1px; zoom: 1;}
li, li img { width: 200px; height: 304px; }
li div.title { 
  padding: 2px;
  position: absolute; 
  left: 0; 
  bottom: 0; 
  width: 196px; 
  height: 4ex;

  font: 16px Arial;
  color: white;
  background-color: black;
  opacity: 0.6;
  overflow: hidden;
}
